global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    tcp
        option  tcplog
        option  dontlognull

frontend front_kubeapi
        bind *:{{ KUBERNETES_API_PORT }}
        mode tcp
        timeout client 1m
        http-request set-header X-Client-IP %[src]
        default_backend back_kubeapi

backend back_kubeapi
        mode tcp
        balance roundrobin
        timeout connect 10s
        timeout server 1m
        {% for name in groups['kubernetes_master'] %}
        server {{ hostvars[name].instance }} {{name}}:{{ KUBERNETES_API_PORT }} check
        {% endfor %}

frontend front_ingress_http
        bind *:80
        mode tcp
        timeout client 1m
        http-request set-header X-Client-IP %[src]
        default_backend back_ingress_http

backend back_ingress_http
        mode tcp
        balance roundrobin
        timeout connect 10s
        timeout server 1m
        {% for name in groups['kubernetes_worker'] %}
        server {{ hostvars[name].instance }} {{name}}:{{ INGRESS_HTTP_PORT }} check
        {% endfor %}

frontend front_ingress_https
        bind *:443
        mode tcp
        timeout client 1m
        http-request set-header X-Client-IP %[src]
        default_backend back_ingress_https

backend back_ingress_https
        mode tcp
        balance roundrobin
        timeout connect 10s
        timeout server 1m
        {% for name in groups['kubernetes_worker'] %}
        server {{ hostvars[name].instance }} {{name}}:{{ INGRESS_HTTPS_PORT }} check
        {% endfor %}

frontend front_dashboard_https
        bind *:8443
        mode tcp
        timeout client 1m
        http-request set-header X-Client-IP %[src]
        default_backend back_dashboard_https

backend back_dashboard_https
        mode tcp
        balance roundrobin
        timeout connect 10s
        timeout server 1m
        {% for name in groups['kubernetes_worker'] %}
        server {{ hostvars[name].instance }} {{name}}:{{ DASHBOARD_HTTPS_PORT }} check
        {% endfor %}
